# --- Infraestrutura e Banco de Dados ---
oracledb==2.5.0
python-dotenv==1.0.1

# --- Manipulação de Dados ---
pandas==2.2.0
numpy==1.26.3

# --- Coleta e NLP (Spacy + BERT) ---
feedparser==6.0.11
spacy==3.7.2
pysentimiento==0.7.3

# --- Machine Learning ---
scikit-learn==1.4.0

# --- Dependências Pesadas (Hugging Face / Torch) ---
# Fixamos estas para o PySentimiento não brigar com versões novas
torch==2.2.0
transformers==4.37.2
tqdm==4.66.1